body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#typeDIV {
    height: 2em;
}

#map {
    height: 10em;
    width: 20em;
    border-width: .3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#top {
    display: flex;
    height: 1em;
}

#heading {
    margin-top: -.5em;
}

#greeting {
    height: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
}

#street {
    line-height: .3em;
}

#checkmarkBox {
    height: 6vh;
    width: 8vh;
}

#update {}

#distance {
    height: 3em;
    margin-top: 1em;
}

#checkmark {
    height: 4vh;
    width: 6vh;
    margin-bottom: 1em;
    display: none;
}

#guessForm {
    height: 1em;
    padding-top: 1.5vh;
    font-size: 110%;
    padding-bottom: 2em;
}

#type {
    height: 3em;
}

#inputBox {
    width: 60%;
}


}

}
